@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
  @apply font-sans;
}

@layer components {
  .nuxt-content {
    color: #374151;
    max-width: 65ch;
    font-size: 1rem;
    line-height: 1.75;
  }
  .nuxt-content > p {
    @apply mt-0;
    @apply mb-5;
  }
  .nuxt-content > h1 {
    @apply text-3xl;
    @apply leading-9;
    @apply font-extrabold;
    @apply text-gray-900;
    @apply tracking-tight;
    @screen sm {
      @apply text-4xl;
      @apply leading-10;
    }
    @screen md {
      @apply text-5xl;
      line-height: 3.5rem;
    }
  }
}
