@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
  @apply font-sans;
}

.xl\:col-gap-6 {
  grid-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap:1.5rem
}
