@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
  @apply font-sans;
}

.xl\:col-gap-6 {
  grid-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
}

.footnote-ref {
  vertical-align: super;
  @apply text-xs;
}

.prose blockquote {
  @apply not-italic;
  @apply font-normal;
}

.prose blockquote p:first-of-type::before {
  content: '';
}

.prose blockquote p:last-of-type::after {
  content: '';
}